body {
  background-color: #00321c;
  color: #f8f8f8;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  margin: 0px;
}
h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 13px 0px 13px 0px;
}

.FluH {
  width: 273px;
  height: 100px;
  grid-column: 2;
  justify-self: right;
  margin-right: 21px;
}

.LibH {
  position: relative;
  width: 137px;
  height: 100px;
  justify-self: left;
  margin-left: 21px;
}

header::before {
  content: "";
  display: flex;
  position: absolute;
  background-color: #d9d9d9;
  width: 2px;
  height: 100px;
}
header::after {
  content: "";
  display: flex;
  position: absolute;
  background-color: #8c1827;
  width: 100%;
  height: 10px;
  top: 10rem;
}

.associe {
  padding: 15px 28px;
  margin: 36px 50px 36px 0px;
  justify-self: end;
  background-color: #f8f8f8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #8c1827;
  font-size: 1.5rem;
  font-weight: 900;
}

.campeao {
  height: 1200px;
  background-image: url("./img/campeoestaca.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.campeao h1 {
  position: relative;
  width: 91.625rem;
  top: 20px;
  color: #eff0f4;
  text-align: center;
  text-shadow: 1px 6px 10px #000;
  font-size: 4.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 4.875rem */
}

.campeoes {
  position: relative;
  background: #00321c;
  padding: 50px;
}

.campeoes h2 {
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}

.campeoes-texto {
  color: #f8f8f8;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 0rem 8.63rem 4.87rem 8.63rem;
  margin-right: 0px;
}

.partida {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.p1-texto {
  background: #00693d;
}
.partida-titulo {
  color: #fff;
  text-align: center;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  margin-top: 1.87rem;
  position: relative;
}
.partida-titulo::before {
  content: "";
  display: flex;
  position: relative;
  background-color: #fff;
  width: 200%;
  height: 0.3125rem;
  top: -34px;
}
.partida-titulo::after {
  content: "";
  display: flex;
  position: absolute;
  background-color: #fff;
  width: 0.125rem;
  height: 35rem;
  left: 99.9%;
  bottom: -30.5rem;
}
.partida-data {
  color: #fff;
  margin-top: 0.63rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  display: flex;
  justify-content: center;
}
.partida-texto {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: flex;
  margin: 7rem 3.5rem;
}

.p1-img {
  background: #88002a;
  justify-content: center;
  display: flex;
  padding: 4.15rem 0rem 4.15rem 0rem;
}

.p2-img {
  background: #00693d;
  justify-content: center;
  display: flex;
  padding: 4.15rem 0rem 4.15rem 0rem;
}
.p2-texto {
  background: #88002a;
}

.noticiastudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.noticiastudo img {
  height: 410px;
  width: 680px;
}

.noticiastudo p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 1.5rem */
}
.noticiastudo h2 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 4rem */
  margin-bottom: 2.5rem;
}
.noticias-lista {
  height: 410px;
  overflow-y: scroll;
}
.noticias-lista::-webkit-scrollbar {
  width: 18px;
}
.noticias-lista::-webkit-scrollbar-thumb {
  background: #8c1827;
  border-left: 4px solid #00321c;
  border-right: 4px solid #00321c;
}

footer {
  background-color: #012013;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1.5rem;
}
/* footer img {
  justify-self: center;
} */
footer::after {
  content: "Projeto pessoal para portfólio. Feito por Lucas Calmon.";
  color: #ffffff9c;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 100%; /* 1rem */
  position: absolute;
  left: 30px;
  bottom: 10px;
}
